  :root {
    --brand: #d62b1f;
    --primary: #ff5555;
  
    --text-100: #0f1e23;
    --text-200: #28292b;
    --text-300: #3c494c;
    --text-400: #404144;
    --text-700: #747474;

    --text-gradient: linear-gradient(120.19deg, #D62B1F -2.42%, #59419B 105.74%);
    --bg-light: #f5f6f6;
  
    --font-clash: 'ClashGrotesk', sans-serif;
    --font-dm-sans: 'DM Sans', sans-serif;
  }

  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    box-sizing: border-box;
    touch-action: manipulation;
    font-family: var(--font-clash);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: var(--text-400);
    overscroll-behavior-x: none;
    margin: 0;
    padding: 0;
  }
  
  body {
    position: relative;
    min-height: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }